In [ ]:
import tarfile
import codecs
import numpy as np 
import pandas as pd
from io import BytesIO
import json

# New Section

In [ ]:
from google.colab import drive
drive.mount('/content/data586')

Drive already mounted at /content/data586; to attempt to forcibly remount, call drive.mount("/content/data586", force_remount=True).

In [ ]:
with open('/content/data586/MyDrive/DATA586/HDFS.log') as f:
    data = f.readlines()

In [ ]:
# data for testing
with open('/content/hadoop-hdfs-datanode-mesos-16.log') as f:
    data = f.readlines()

In [ ]:
log = [t.strip() for t in data]

In [ ]:
log[0:20]

['081109 203518 143 INFO dfs.DataNode$DataXceiver: Receiving block blk_-1608999687919862906 src: /10.250.19.102:54106 dest: /10.250.19.102:50010',
 '081109 203518 35 INFO dfs.FSNamesystem: BLOCK* NameSystem.allocateBlock: /mnt/hadoop/mapred/system/job_200811092030_0001/job.jar. blk_-1608999687919862906',
 '081109 203519 143 INFO dfs.DataNode$DataXceiver: Receiving block blk_-1608999687919862906 src: /10.250.10.6:40524 dest: /10.250.10.6:50010',
 '081109 203519 145 INFO dfs.DataNode$DataXceiver: Receiving block blk_-1608999687919862906 src: /10.250.14.224:42420 dest: /10.250.14.224:50010',
 '081109 203519 145 INFO dfs.DataNode$PacketResponder: PacketResponder 1 for block blk_-1608999687919862906 terminating',
 '081109 203519 145 INFO dfs.DataNode$PacketResponder: PacketResponder 2 for block blk_-1608999687919862906 terminating',
 '081109 203519 145 INFO dfs.DataNode$PacketResponder: Received block blk_-1608999687919862906 of size 91178 from /10.250.10.6',
 '081109 203519 145 INFO dfs.DataNode$PacketResponder: Received block blk_-1608999687919862906 of size 91178 from /10.250.19.102',
 '081109 203519 147 INFO dfs.DataNode$PacketResponder: PacketResponder 0 for block blk_-1608999687919862906 terminating',
 '081109 203519 147 INFO dfs.DataNode$PacketResponder: Received block blk_-1608999687919862906 of size 91178 from /10.250.14.224',
 '081109 203519 29 INFO dfs.FSNamesystem: BLOCK* NameSystem.addStoredBlock: blockMap updated: 10.250.10.6:50010 is added to blk_-1608999687919862906 size 91178',
 '081109 203519 30 INFO dfs.FSNamesystem: BLOCK* NameSystem.addStoredBlock: blockMap updated: 10.251.111.209:50010 is added to blk_-1608999687919862906 size 91178',
 '081109 203519 31 INFO dfs.FSNamesystem: BLOCK* NameSystem.addStoredBlock: blockMap updated: 10.250.14.224:50010 is added to blk_-1608999687919862906 size 91178',
 '081109 203520 142 INFO dfs.DataNode$DataXceiver: Receiving block blk_7503483334202473044 src: /10.251.215.16:55695 dest: /10.251.215.16:50010',
 '081109 203520 145 INFO dfs.DataNode$DataXceiver: Receiving block blk_7503483334202473044 src: /10.250.19.102:34232 dest: /10.250.19.102:50010',
 '081109 203520 26 INFO dfs.FSNamesystem: BLOCK* NameSystem.allocateBlock: /mnt/hadoop/mapred/system/job_200811092030_0001/job.split. blk_7503483334202473044',
 '081109 203521 143 INFO dfs.DataNode$DataXceiver: Received block blk_-1608999687919862906 src: /10.251.215.16:52002 dest: /10.251.215.16:50010 of size 91178',
 '081109 203521 143 INFO dfs.DataNode$DataXceiver: Receiving block blk_-1608999687919862906 src: /10.251.215.16:52002 dest: /10.251.215.16:50010',
 '081109 203521 144 INFO dfs.DataNode$DataXceiver: Receiving block blk_7503483334202473044 src: /10.251.71.16:51590 dest: /10.251.71.16:50010',
 '081109 203521 145 INFO dfs.DataNode$DataXceiver: Receiving block blk_-3544583377289625738 src: /10.250.19.102:39325 dest: /10.250.19.102:50010']

In [ ]:
for line in log[0:10]:
  s1=line.split(' ')[0].strip()
  s2=line.split(' ')[1].strip()
  s3=line.split(' ')[2].strip()
  s4=line.split(' ')[3].strip()
  s5=line.split(' ')[4].strip(': ')
  s6=line.split(' ')[5:]
  # ' '.join(s6)
  print(' '.join(s6))

Receiving block blk_-1608999687919862906 src: /10.250.19.102:54106 dest: /10.250.19.102:50010
BLOCK* NameSystem.allocateBlock: /mnt/hadoop/mapred/system/job_200811092030_0001/job.jar. blk_-1608999687919862906
Receiving block blk_-1608999687919862906 src: /10.250.10.6:40524 dest: /10.250.10.6:50010
Receiving block blk_-1608999687919862906 src: /10.250.14.224:42420 dest: /10.250.14.224:50010
PacketResponder 1 for block blk_-1608999687919862906 terminating
PacketResponder 2 for block blk_-1608999687919862906 terminating
Received block blk_-1608999687919862906 of size 91178 from /10.250.10.6
Received block blk_-1608999687919862906 of size 91178 from /10.250.19.102
PacketResponder 0 for block blk_-1608999687919862906 terminating
Received block blk_-1608999687919862906 of size 91178 from /10.250.14.224

In [ ]:
Date = []
Time = []
Pid = []
Level = []
Component = []
Content = []

In [ ]:
len(log)/2

5587814.5

In [ ]:
for line in log:
  s1=line.split(' ')[0].strip()
  Date.append(s1)
  s2=line.split(' ')[1].strip()
  Time.append(s2)
  s3=line.split(' ')[2].strip()
  Pid.append(s3)
  s4=line.split(' ')[3].strip()
  Level.append(s4)
  s5=line.split(' ')[4].strip(': ')
  Component.append(s5)
  s6=line.split(' ')[5:]
  Content.append(' '.join(s6))

In [ ]:
df = pd.DataFrame([Date, Time, Pid, Level, Component, Content])
df = df.T
df.columns=['Date','Time', 'Pid', 'Level', 'Component', 'Content']

In [ ]:
df.head()

     Date  ...                                            Content
0  081109  ...  Receiving block blk_-1608999687919862906 src: ...
1  081109  ...  BLOCK* NameSystem.allocateBlock: /mnt/hadoop/m...
2  081109  ...  Receiving block blk_-1608999687919862906 src: ...
3  081109  ...  Receiving block blk_-1608999687919862906 src: ...
4  081109  ...  PacketResponder 1 for block blk_-1608999687919...

[5 rows x 6 columns]

In [ ]:
df['BlockId'] = df.Content.str.extract(r'(?:blk_-)(\d+)')
df.head(10)

     Date  ...              BlockId
0  081109  ...  1608999687919862906
1  081109  ...  1608999687919862906
2  081109  ...  1608999687919862906
3  081109  ...  1608999687919862906
4  081109  ...  1608999687919862906
5  081109  ...  1608999687919862906
6  081109  ...  1608999687919862906
7  081109  ...  1608999687919862906
8  081109  ...  1608999687919862906
9  081109  ...  1608999687919862906

[10 rows x 7 columns]

In [ ]:
df.to_csv('structured_log2.csv', index=False)

In [ ]:
df1 = pd.read_csv('/content/structured_log.csv')
df2 = pd.read_csv('/content/structured_log2.csv')

In [ ]:
df1['BlockId'] = df1.Content.str.extract(r'(?:blk_-)(\d+)')
df1['BlockId2'] = df1.Content.str.extract(r'(?:blk_)(\d+)')
df2['BlockId'] = df2.Content.str.extract(r'(?:blk_-)(\d+)')
df2['BlockId2'] = df2.Content.str.extract(r'(?:blk_)(\d+)')

In [ ]:
df2.head()

    Date    Time  ...              BlockId            BlockId2
0  81110  224444  ...   780176872440040760                 NaN
1  81110  224444  ...   780176872440040760                 NaN
2  81110  224444  ...  7507061571342565425                 NaN
3  81110  224444  ...  7507061571342565425                 NaN
4  81110  224444  ...                  NaN  637876535621538122

[5 rows x 8 columns]

In [ ]:
df1['BlockId'] = df1['BlockId'].fillna(df1['BlockId2'])
df2['BlockId'] = df2['BlockId'].fillna(df2['BlockId2'])

In [ ]:
df1.drop('BlockId2', axis=1, inplace=True)
df2.drop('BlockId2', axis=1, inplace=True)

In [ ]:
df1.head()

    Date  ...              BlockId
0  81109  ...  1608999687919862906
1  81109  ...  1608999687919862906
2  81109  ...  1608999687919862906
3  81109  ...  1608999687919862906
4  81109  ...  1608999687919862906

[5 rows x 7 columns]

In [ ]:
df = df1.append(df2)

In [ ]:
df.to_csv('processed_log.csv', index=False)